In [3]:
import pandas as pd

df = pd.read_csv(r"../docs/Seasons_Stats.csv", low_memory=False)
print("Shape:", df.shape)
print("\nColumns:")
print(df.columns.tolist())

Shape: (24691, 53)

Columns:
['Unnamed: 0', 'Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'blank2', 'OBPM', 'DBPM', 'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS']

In [4]:
df.head(10)

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
5,5,1950.0,Ed Bartels,F,24.0,NYK,2.0,NaN,NaN,NaN,...,0.667,NaN,NaN,NaN,0.0,NaN,NaN,NaN,2.0,4.0
6,6,1950.0,Ralph Beard,G,22.0,INO,60.0,NaN,NaN,NaN,...,0.762,NaN,NaN,NaN,233.0,NaN,NaN,NaN,132.0,895.0
7,7,1950.0,Gene Berce,G-F,23.0,TRI,3.0,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,2.0,NaN,NaN,NaN,6.0,10.0
8,8,1950.0,Charlie Black,F-C,28.0,TOT,65.0,NaN,NaN,NaN,...,0.651,NaN,NaN,NaN,163.0,NaN,NaN,NaN,273.0,661.0
9,9,1950.0,Charlie Black,F-C,28.0,FTW,36.0,NaN,NaN,NaN,...,0.632,NaN,NaN,NaN,75.0,NaN,NaN,NaN,140.0,382.0

In [5]:
df.describe(include='all').transpose().head(15)

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Unnamed: 0,24691.0,NaN,NaN,NaN,12345.0,7127.822084,0.0,6172.5,12345.0,18517.5,24690.0
Year,24624.0,NaN,NaN,NaN,1992.594989,17.429594,1950.0,1981.0,1996.0,2007.0,2017.0
Player,24624,3921,Eddie Johnson,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pos,24624,23,PF,4966,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,24616.0,NaN,NaN,NaN,26.664405,3.841892,18.0,24.0,26.0,29.0,44.0
Tm,24624,69,TOT,2123,NaN,NaN,NaN,NaN,NaN,NaN,NaN
G,24624.0,NaN,NaN,NaN,50.83711,26.496161,1.0,27.0,58.0,75.0,88.0
GS,18233.0,NaN,NaN,NaN,23.593375,28.632387,0.0,0.0,8.0,45.0,83.0
MP,24138.0,NaN,NaN,NaN,1209.720317,941.146575,0.0,340.0,1053.0,1971.0,3882.0
PER,24101.0,NaN,NaN,NaN,12.479071,6.039014,-90.6,9.8,12.7,15.6,129.1
TS%,24538.0,NaN,NaN,NaN,0.493001,0.094469,0.0,0.458,0.506,0.544,1.136
3PAr,18839.0,NaN,NaN,NaN,0.158604,0.187495,0.0,0.005,0.064,0.288,1.0
FTr,24525.0,NaN,NaN,NaN,0.325455,0.218971,0.0,0.208,0.296,0.4,6.0
ORB%,20792.0,NaN,NaN,NaN,6.181565,4.872685,0.0,2.6,5.4,9.0,100.0
DRB%,20792.0,NaN,NaN,NaN,13.708657,6.636402,0.0,8.8,12.7,18.1,100.0

In [6]:
pwd

'c:\\Users\\asabry\\Desktop\\NLP-Project\\CMPE297-project\\data'